@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}


/* Layout */
.Container {
  margin: 0 auto;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.Flex2 {
  display: flex;
  align-items: center;
}

.Flex3 {
  display: flex;
  flex-direction: column;
}

.Flex4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Flex5 {
  display: flex;
  flex-direction: column-reverse;
}

.Flex6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/* botao de topo do site */
#topo {
  position: fixed;
  bottom: 20px; /* Espaçamento da borda inferior */
  right: 20px; /* Espaçamento da borda direita */
  z-index: 1000; /* Manter acima do conteúdo */
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease; /* Suaviza as transições */
}



/* Cartões */
.Card {
  margin-top: 25px;
  width: 338px;
  height: 520px;
  background-color: #e8e8e8;
  border: 1px solid #a1a1a1;
  border-radius: 25px;
  text-align: center;
}

.Card img {
  border-radius: 25px 25px 0px 0px;
  width: 338px;
  height: 200px;
}

.Card h3 {
  margin-top: 15px;
}

.Card p {
  text-align: left;
  color: #434343;
  padding: 10px 30px 50px 30px;
}

.Card a {
  padding: 10px 100px;
  border: 0;
}

/*LOCALIZAÇÃO>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.escritorio {
  flex: 1 1 100%; 
  max-width: 500px;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:black;
  margin: 10px auto;
  width: 45%;
  padding: 20px;
}

.escritorio h3 {
  margin-bottom: 10px;
  text-align: center;
}

.map-container {
  margin-top: 10px;
}

.icone {
flex-wrap: wrap; /* Permite que os elementos quebrem linha, se necessário */
align-items: center; /* Alinha verticalmente ícones e texto */
margin-bottom: 10px;
}


.icone img {
  margin-right: 10px;
  width: 24px;
  height: auto;
}

.icone{
  display: flex;
  padding: 10px;

}
.icone p{
  font-size: 0.875em;
  margin-left: 5px;
}

#localizacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}
#localizacao h2{
  text-align: center;
  width: 100%;
  
}


#fundo{
  background: url(Imagens/fundoBranco.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

header {
  height: 60px;
}

#check {
  display: none;
}

#check:checked ~ ul {
  /* right: 0; */
  display: block;
}


label {
  font-size: 2.5em;
  position: fixed;
  top: 10px;
  right: 15px; /* Posição à direita */
  color: rgba(0, 0, 0, 0.7); /* Cor ajustável */
  cursor: pointer; /* Indica que é clicável */
  z-index: 1000; /* Garante que o ícone esteja na frente de outros elementos */
}

nav ul {
  list-style: none;
  background-color: rgba(52, 53, 56, 0.95);
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -65%;
  width: 65%;
  transition: all 0.5s;
}



nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Destaque */
main {
  height: 51vh;
  color: #144770;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main h1 {
  font-size: 3.1em;
}

main h2 {
  font-size: 1.25em;
  margin: 20px 0px 50px 0px;
}

/* Sobre */
#sobre {
  padding: 50px 0px;
  background: url(Imagens/outro-fundo.png);
  background-size: cover;
  background-position: center;
}

#destaqueSobre {
  display: none;
  
}

#textoSobre {
  color: #fff;
  padding: 0px 10px;
}


/* One page */
#onepage {
  padding: 50px 10px;
  background: url(Imagens/fundoBranco.jpg);
  background-size: cover;
  background-position: center;
}

#onepage h2{
  margin-bottom: 10px;
  text-align: center;
}

#onepage p {
  margin-bottom: 25px;
}

#video {
  width: 600px;
  height: 300px;
  border: 0;
  padding: 15px;
}


#video img{
  width: 500px;
  height: 300px;
}

h3{
  margin-bottom: 20px;
}

/* PROFISSIONAIS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#profissionais {
  padding: 50px 10px;
  background: url(Imagens/outro-fundo.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#profissionais h2{
  margin-bottom: 20px;
  text-align: center;
  color:white;
}

.container-profissionais{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin:0 auto;
}

.profissional {
  display: flex;
  align-items: center;
}

.textoProfissionais{
  color: #fff;
  text-align: left;
}

.profissional h3{
  font-size: 1.25em;
}

.imgAdv {
  width: 35%;
  height: auto;
  border-radius: 50%;
  margin-left: 20px;
  border: 3px solid #fff; /* Bordas para destacar a foto */
}

/* Conteúdo */
#conteudo {
  padding: 50px 0px;
  background: url(Imagens/fundoBranco.jpg);
  background-size: cover;
  background-position: center;
}

#conteudo h2 {
  margin-bottom: 25px;
  text-align: center;
}


/* Rodapé */
address {
  background: url(Imagens/outro-fundo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}



#contato{
  padding: 20px;
  background: url(Imagens/fundoBranco.jpg);
  background-size: cover;
  background-position: center;
  font-size: 0.875em;
  text-align: center;
}

#form-container,
#image-container {
    width: 90%
}

#image-container img{
  width:70%
}




footer {
  padding: 50px 0px;
  background: url(Imagens/fundo-azul.jpg);
  background-size: cover;
  background-position: center;
  font-size: 0.875em;
  color: #fff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}

#social {
  margin-bottom: 25px;
}



/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

  #logo img {
    width: 128px;
    height: 128px;
  }
  
  /* Layout */
  .Container {
    max-width: 1140px;
  }

  /* Cabeçalho */
  header {
    height: 120px;
  }

  #logo img {
    width: 250px;
    height: 140px;
    margin-top: 30px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 40px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a{
    color: #144770;
}
  nav ul li a:hover {
    background-color:#144770;
    color:#ffffff;
    padding: 10px;
}

  /* Destaque */
  main {
    height: 60vh;
  }

  main h1 {
    font-size: 7em;
  }
  #ex1{
    width:500px;
  }

  /* Sobre */
  #sobre {
    background-attachment: fixed;
  }

  #destaqueSobre {
    display: inline;
  }

  #destaqueSobre img {
    border-radius: 50%;
    margin-right: 50px;
  }


  /* One page */
  .Flex3 {
    flex-direction: row;
    align-items: center;
  }

  /* Rodapé */
  .Flex6 {
    flex-direction: row-reverse;
  } 
    
  #form-container {
    width: 45%;
    padding: 20px;
}

#form-container h2 {
    margin-bottom: 20px;
}

#form-container input,
#form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #144770;
}

#form-container input::placeholder,
#form-container textarea::placeholder {
    color: #144770; 
}

#contato{
  display: flex;
}
 
    .botao{
      border: solid 1px #b6af92;
      border-radius: 20px;
      width: 50%;
      padding: 10px;
      color: #144770;
      background-color: #b6af92;
      padding: 10px;
      transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
      cursor: pointer;
  }


#image-container {
    width: 45%;
}

#image-container img {
    width: 100%;
    margin-top:30px;
    padding: 30px;
}

  .botao:hover{
  background-color: rgb(218, 175, 59);
  color: #144770;
  transform: scale(1.2)
  }

  #googleMaps {
    display: inline;
  }
}





/*CELULAR*/
@media (max-width: 767px) {

  *{
    max-width: 100%;
  

  }
   /* Ícone visível em telas pequenas */
   label {
    display: block; /* Exibe o ícone "sanduíche" */
    position: fixed;
    top: 10px;
    right: 15px; /* Posição à direita para acessibilidade */
    z-index: 1000; /* Coloca o ícone à frente */
}

/* Menu Oculto por Padrão */
nav ul {
    list-style: none;
    position: right;
    top: 60px;
    left: 0;
    right: 0;
    width: 20%;
    height: auto;
    background-color:#144770;
    display: none; /* Esconde o menu inicialmente */
    padding: 5px;
    
}

/* Exibe o Menu ao Marcar o Checkbox */
#check:checked ~ nav ul {
    display: block; /* Exibe o menu quando o checkbox é marcado */
}

nav ul li {
    padding: 15px;
    text-align: right; /* Mantém o alinhamento do menu */
  }


  #video img {
    max-width: 100%; /* Define uma largura máxima de 100% para a imagem */
    height: auto; /* Garante que a altura seja ajustada automaticamente para manter a proporção */
  }
  #inicio{
    padding: 10px;
  }
  #logo{
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
   
  }

  #onepage{
    flex-direction: column;
  }
  #video img{
    width: 50%;
    text-align: center;
  }

  .profissional {
    flex-direction: column; /* Altera a direção para coluna em telas menores */
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
}

.imgAdv {
    margin-left: 0; /* Remove a margem à esquerda em telas menores */
    margin-top: 15px; /* Espaçamento superior para a nova posição */
    width:80%;
    height: auto;
    border-radius: 20%;
}

#profissionais h2 {
    font-size: 2em;
}

  /*LOCALIZAÇÃO>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  #localizacao {
    flex-direction: column;
    align-items: center;
    padding: 3%;

}
#localizacao h2{
  text-align: center;
  margin: 2%;
}

  .escritorio {
      width: 90%;
      margin-bottom: 20px;
  }

  .icone img {
    width: 18px; /* Reduzido para tamanhos menores de tela */
    margin-right: 8px;
}


  .botao{
    border: solid 1px #b6af92;
    border-radius: 20px;
    width: 50%;
    padding: 10px;
    color: #144770;
    background-color: #b6af92;
    padding: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

/*botao pro topo*/
#topo {
  bottom: 15px; /* Menos espaço da borda inferior */
  right: 15px; /* Menos espaço da borda direita */
  padding: 10px; /* Menor tamanho do botão */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Sombra menor */
}


}
